@import '../styles/theme';

.App {
  padding: 40px;

  &-search {
    padding: 4px 10px;
    border: 1px solid $color-black;
    font-family: $font-roboto-regular;
    font-size: $font-size-medium;
  }

  &-bookContainer {
    @include flexbox;
    @include align-items(center);
    @include flex-wrap(wrap);
  }
  &-book {
    padding: 10px;
    max-width: 200px;
  }
}